.liner-style-box {
    background-color: #F8FAFC;
    border-radius: 10px;
    border: 4px solid #b8bbbc;
}

.liner-box {
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

.liner-box p {
    font-size: 20px;
}

.color-input {
    width: 50px;
    height: 50px;
}

.handle-filed {
    height: auto;
}

.handle-filed p {
    font-size: 25px;
}

.delite {
    background-color: #F08080;
    height: 100%;
    border-radius: 5px;
}

.next {
    background-color: #90EE90;
    height: 100%;
    border-radius: 5px;
}

.btn-box {
    padding: 3px 10px;
}