@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@600&family=Montserrat:ital,wght@1,600&family=Noto+Sans+JP&display=swap');

header {
    background-color: #1B0E38;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.4);
}

.head {
    border-bottom: 4px solid #90EE90;
}

.top-name {
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
}

.top-icon {
    font-size: 30px;
    color: #90EE90
}

.top-icon img {
    width: 40px;
    height: 40px;
}

.person-icon {
    font-size: 30px;
    color: white;
}

.person-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top-icon {
    width: 50px;
    height: auto;
}