@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*global css*/
body {
    margin: 0;
    padding: 0;
    background-color: #2F1D58;
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

input {
    width: 100%;
}